<nav>
  <ul class="nav">
    <li>
      <a routerLink="/posts" routerLinkActive="active" *ngIf="authService.isLoggedIn()">All posts</a>
    </li>
    <li>
      <a [routerLink]="['/posts', username]"  routerLinkActive="active" *ngIf="authService.isLoggedIn()">My Blog Posts</a>
    </li>
    <li>
      <a [routerLink]="['/posts', username, 'create']"  routerLinkActive="active" *ngIf="authService.isLoggedIn()">Create Post</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active" *ngIf="!authService.isLoggedIn()">Login</a>
    <li>
      <a routerLink="/register" routerLinkActive="active" *ngIf="!authService.isLoggedIn()">Register</a>
    </li>
    <li>
      <a (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</a>
    </li>
  </ul>
</nav>

<!-- Dynamic component loading based on routes -->
<router-outlet></router-outlet>
